body {
    width: 100%;
    max-width: 35em;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
}