{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamlet - Welcome</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'web/sass/main.scss' %}">
    {% endcompress %}
</head>
<body>
    <h1>hamlet</h1>
    <hr/>
    <p>Branch: {{ branch }}</p>
    <p>DB Engine: {{ database.engine }}</p>
    <p>DB Name: {{ database.name }}</p>
    <hr/>
    <img src="{% static 'web/images/goat.jpg' %}" alt="Goat">
</body>
</html>